In [1]:
import pandas as pd
import json

In [22]:
site = pd.read_csv('site.csv')
site = site.set_index('site_id')

In [192]:
dict1 = site.to_dict("index")
dict1

{'DR-1': {'latitude': -49.85, 'longitude': -128.57},
 'DR-3': {'latitude': -47.15, 'longitude': -126.72},
 'MSK-4': {'latitude': -48.87, 'longitude': -123.4}}

In [200]:
visit = pd.read_csv('visited.csv')
visit = visit.set_index('visit_id')
visit = visit.fillna(method='ffill')

In [201]:
vals = []

for x in visit['site_id']:
    pair = {}
    y = dict1[x]
    pair[x] = y
    vals.append(pair)

In [202]:
dict1

{'DR-1': {'latitude': -49.85, 'longitude': -128.57},
 'DR-3': {'latitude': -47.15, 'longitude': -126.72},
 'MSK-4': {'latitude': -48.87, 'longitude': -123.4}}

In [203]:
visit['site_id'] = vals

In [199]:
visit

                                                    site_id  visit_date
visit_id
619       {'DR-1': {'latitude': -49.85, 'longitude': -12...  1927-02-08
622       {'DR-1': {'latitude': -49.85, 'longitude': -12...  1927-02-10
734       {'DR-3': {'latitude': -47.15, 'longitude': -12...  1930-01-07
735       {'DR-3': {'latitude': -47.15, 'longitude': -12...  1930-01-12
751       {'DR-3': {'latitude': -47.15, 'longitude': -12...  1930-02-26
752       {'DR-3': {'latitude': -47.15, 'longitude': -12...         NaN
837       {'MSK-4': {'latitude': -48.87, 'longitude': -1...  1932-01-14
844       {'DR-1': {'latitude': -49.85, 'longitude': -12...  1932-03-22

In [160]:
meas = pd.read_csv('measurements.csv')
meas2 = meas.groupby('visit_id')[['quantity','reading']].apply(lambda x: x.to_dict(orient='index')).to_dict()

In [161]:
meas2[619]

{0: {'quantity': 'rad', 'reading': 9.82},
 1: {'quantity': 'sal', 'reading': 0.13}}

In [162]:
measures = []
for k, v in meas2.items():
    measures.append(v)

In [210]:
measures[0]

{0: {'quantity': 'rad', 'reading': 9.82},
 1: {'quantity': 'sal', 'reading': 0.13}}

In [208]:
meas2

{619: {0: {'quantity': 'rad', 'reading': 9.82},
  1: {'quantity': 'sal', 'reading': 0.13}},
 622: {2: {'quantity': 'rad', 'reading': 7.8},
  3: {'quantity': 'sal', 'reading': 0.09}},
 734: {4: {'quantity': 'rad', 'reading': 8.41},
  5: {'quantity': 'sal', 'reading': 0.05},
  6: {'quantity': 'temp', 'reading': -21.5}},
 735: {7: {'quantity': 'rad', 'reading': 7.22},
  8: {'quantity': 'sal', 'reading': 0.06},
  9: {'quantity': 'temp', 'reading': -26.0}},
 751: {10: {'quantity': 'rad', 'reading': 4.35},
  11: {'quantity': 'temp', 'reading': -18.5}},
 752: {12: {'quantity': 'rad', 'reading': 2.19},
  13: {'quantity': 'sal', 'reading': 0.09},
  14: {'quantity': 'temp', 'reading': -16.0},
  15: {'quantity': 'sal', 'reading': 41.6}},
 837: {16: {'quantity': 'rad', 'reading': 1.46},
  17: {'quantity': 'sal', 'reading': 0.21},
  18: {'quantity': 'sal', 'reading': 22.5}},
 844: {19: {'quantity': 'rad', 'reading': 11.25}}}

In [207]:
for k, v in meas2.items():
    for x, y in v:
        print(x)

TypeError: cannot unpack non-iterable int object

In [158]:
visit['readings'] = measures
visit

,site_id,visit_date,readings
visit_id,,,
619,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1927-02-08,"{0: {'quantity': 'rad', 'reading': 9.82}, 1: {..."
622,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1927-02-10,"{2: {'quantity': 'rad', 'reading': 7.8}, 3: {'..."
734,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-01-07,"{4: {'quantity': 'rad', 'reading': 8.41}, 5: {..."
735,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-01-12,"{7: {'quantity': 'rad', 'reading': 7.22}, 8: {..."
751,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-02-26,"{10: {'quantity': 'rad', 'reading': 4.35}, 11:..."
752,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",NaN,"{12: {'quantity': 'rad', 'reading': 2.19}, 13:..."
837,"{'MSK-4': {'latitude': -48.87, 'longitude': -1...",1932-01-14,"{16: {'quantity': 'rad', 'reading': 1.46}, 17:..."
844,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1932-03-22,"{19: {'quantity': 'rad', 'reading': 11.25}}"

In [212]:
person = pd.read_csv('person.csv')
person

  person_id personal_name family_name
0      dyer       William        Dyer
1        pb         Frank     Pabodie
2      lake      Anderson        Lake
3       roe     Valentina     Roerich
4  danforth         Frank    Danforth

In [219]:
people = []
ids = []
personal_name = []
family_name = []

for i, r in person.iterrows():
    for index, row in meas.iterrows():
        if row['visit_id'] not in ids:
            ids.append(row['visit_id'])
            people.append(row['person_id'])
            personal_name.append(r['personal_name'])
            family_name.append(r['family_name'])
            print(row['person_id'])

dyer
dyer
pb
pb
pb
lake
lake
roe

In [221]:
personal_name

['William',
 'William',
 'William',
 'William',
 'William',
 'William',
 'William',
 'William']

In [183]:
v = visit.reset_index()
v['person_id'] = people

In [184]:
v

,visit_id,site_id,visit_date,readings,person_id
0,619,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1927-02-08,"{0: {'quantity': 'rad', 'reading': 9.82}, 1: {...",dyer
1,622,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1927-02-10,"{2: {'quantity': 'rad', 'reading': 7.8}, 3: {'...",dyer
2,734,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-01-07,"{4: {'quantity': 'rad', 'reading': 8.41}, 5: {...",pb
3,735,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-01-12,"{7: {'quantity': 'rad', 'reading': 7.22}, 8: {...",pb
4,751,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",1930-02-26,"{10: {'quantity': 'rad', 'reading': 4.35}, 11:...",pb
5,752,"{'DR-3': {'latitude': -47.15, 'longitude': -12...",NaN,"{12: {'quantity': 'rad', 'reading': 2.19}, 13:...",lake
6,837,"{'MSK-4': {'latitude': -48.87, 'longitude': -1...",1932-01-14,"{16: {'quantity': 'rad', 'reading': 1.46}, 17:...",lake
7,844,"{'DR-1': {'latitude': -49.85, 'longitude': -12...",1932-03-22,"{19: {'quantity': 'rad', 'reading': 11.25}}",roe

In [185]:
v = v.groupby('person_id')[['visit_id','visit_date', 'site_id', 'readings']].apply(lambda x: x.to_dict(orient='index')).to_dict()
v

{'dyer': {0: {'visit_id': 619,
   'visit_date': '1927-02-08',
   'site_id': {'DR-1': {'latitude': -49.85, 'longitude': -128.57}},
   'readings': {0: {'quantity': 'rad', 'reading': 9.82},
    1: {'quantity': 'sal', 'reading': 0.13}}},
  1: {'visit_id': 622,
   'visit_date': '1927-02-10',
   'site_id': {'DR-1': {'latitude': -49.85, 'longitude': -128.57}},
   'readings': {2: {'quantity': 'rad', 'reading': 7.8},
    3: {'quantity': 'sal', 'reading': 0.09}}}},
 'lake': {5: {'visit_id': 752,
   'visit_date': nan,
   'site_id': {'DR-3': {'latitude': -47.15, 'longitude': -126.72}},
   'readings': {12: {'quantity': 'rad', 'reading': 2.19},
    13: {'quantity': 'sal', 'reading': 0.09},
    14: {'quantity': 'temp', 'reading': -16.0},
    15: {'quantity': 'sal', 'reading': 41.6}}},
  6: {'visit_id': 837,
   'visit_date': '1932-01-14',
   'site_id': {'MSK-4': {'latitude': -48.87, 'longitude': -123.4}},
   'readings': {16: {'quantity': 'rad', 'reading': 1.46},
    17: {'quantity': 'sal', 'reading': 0.21},
    18: {'quantity': 'sal', 'reading': 22.5}}}},
 'pb': {2: {'visit_id': 734,
   'visit_date': '1930-01-07',
   'site_id': {'DR-3': {'latitude': -47.15, 'longitude': -126.72}},
   'readings': {4: {'quantity': 'rad', 'reading': 8.41},
    5: {'quantity': 'sal', 'reading': 0.05},
    6: {'quantity': 'temp', 'reading': -21.5}}},
  3: {'visit_id': 735,
   'visit_date': '1930-01-12',
   'site_id': {'DR-3': {'latitude': -47.15, 'longitude': -126.72}},
   'readings': {7: {'quantity': 'rad', 'reading': 7.22},
    8: {'quantity': 'sal', 'reading': 0.06},
    9: {'quantity': 'temp', 'reading': -26.0}}},
  4: {'visit_id': 751,
   'visit_date': '1930-02-26',
   'site_id': {'DR-3': {'latitude': -47.15, 'longitude': -126.72}},
   'readings': {10: {'quantity': 'rad', 'reading': 4.35},
    11: {'quantity': 'temp', 'reading': -18.5}}}},
 'roe': {7: {'visit_id': 844,
   'visit_date': '1932-03-22',
   'site_id': {'DR-1': {'latitude': -49.85, 'longitude': -128.57}},
   'readings': {19: {'quantity': 'rad', 'reading': 11.25}}}}}